@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fudbalski turnir</h1>
</div>
<hr />

<div class="container mt-5" style="text-align: center; display:flex; justify-content:center; align-items:center;">
    <div class="tenor-gif-embed" data-postid="25485485" data-share-method="host" data-aspect-ratio="3.3" data-width="100%"><a href="https://tenor.com/view/siuuu-ronaldo-gif-25485485">Siuuu Ronaldo GIF</a>from <a href="https://tenor.com/search/siuuu-gifs">Siuuu GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>

